*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: win95;
}

@font-face {
  font-family: win95;
  src: url(../fonts/win95.ttf);
}

html,
body {
  background-color: $color-background;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
